<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.ErgodeITTestRunner.ClickForLastBook"/>
      <class name="com.ErgodeITTestRunner.ErgodLogin"/>
      <class name="com.ErgodeITTestRunner.ErgodeRegisterAccount"/>
      <class name="com.ErgodeITTestRunner.SearchForPerBook"/>
      <class name="com.ErgodeITTestRunner.AddToCart"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
